<footer class="footer"style = "bottom:0;" >
    <div class="container">
        <div class="row footer-bottom">
        <br>
        <br>
        <br>
        <br>
                <ul class="list-inline text-center">
                    <li><a>©沈阳工业大学校团委网络管理中心 2015</a></li>
                </ul>
        </div>
    </div>
</footer>